{% extends "index.html" %}
{% block title %} Login Page {%endblock%}
{% block content%}
    {% with messages =  get_flashed_messages() %}
        {% if messages %}  <!--check any message to display-->
            {% for msg in messages %}
                <p> {{msg}} </p>
            {% endfor %}
        {% endif %}
    {% endwith %}
    <h1> Login Page </h1>
    <!-- action: indication of url to redirect, once form is submitted, "#": stay on same page-->
    <!-- post as we are posting information-->
    <form action="/action_page.php" method = "POST">
        <p> happy: </p>
        <p> <input type="text" name="nm"/> </p>
        <p> <input type="submit" value="submit"/> </p>
    </form>
{% endblock %}
